
.ipynb_checkpoints
.vscode
.DS_Store

# local directories not currently in use.
/limk-api
/limk-react-client
/limk-flask-api
/limk-data
/notes
/google_transit_combined

# React dependencies
/react-flask-app/node_modules
/react-flask-app/.pnp
/react-flask-app.pnp.js

# React testing
/react-flask-app/coverage

# React production
/react-flask-app/build

# React misc
/react-flask-app/.DS_Store
/react-flask-app/.env
/react-flask-app/.env.local
/react-flask-app/.env.development.local
/react-flask-app/.env.test.local
/react-flask-app/.env.production.local

/react-flask-app/npm-debug.log*
/react-flask-app/yarn-debug.log*
/react-flask-app/yarn-error.log*

# React flask api
/react-flask-app/api/venv
/react-flask-app/venv
/react-flask-app/api/__pycache__
/react-flask-app/api/.env
/react-flask-app/api/google_transit_combined
/react-flask-app/api/csv_data

# Scraper scripts
/scraper-scripts/.env