
.ipynb_checkpoints
.vscode
.DS_Store

# early express version of api- not currently in use.
/limk-api
/notes

# GTFS dataset
/google_transit_combined



# React dependencies
/react-flask-app/node_modules
/react-flask-app/.pnp
/react-flask-app.pnp.js

# React testing
/react-flask-app/coverage

# React production
/react-flask-app/build

# React misc
/react-flask-app/.DS_Store
/react-flask-app/.env.local
/react-flask-app/.env.development.local
/react-flask-app/.env.test.local
/react-flask-app/.env.production.local

/react-flask-app/npm-debug.log*
/react-flask-app/yarn-debug.log*
/react-flask-app/yarn-error.log*

# React flask api
/react-flask-app/api/venv
/react-flask-app/api/__pycache__

# React dependencies
/limk-react-client/node_modules
/limk-react-client/.pnp
/limk-react-client.pnp.js

# React testing
/limk-react-client/coverage

# React production
/limk-react-client/build

# React misc
/limk-react-client/.DS_Store
/limk-react-client/.env
/limk-react-client/.env.local
/limk-react-client/.env.development.local
/limk-react-client/.env.test.local
/limk-react-client/.env.production.local

/limk-react-client/npm-debug.log*
/limk-react-client/yarn-debug.log*
/limk-react-client/yarn-error.log*

# Flask
/limk-flask-api/__pycache__
/limk-flask-api/.env
/limk-flask-api/app/__pycache__

# Python scraper txt and env files
/limk-data/__pycache__
/limk-data/*.txt
/limk-data/.env